@font-face {
    font-family: 'newFont';
    src: url('newFont.ttf');
}

@font-face {
    font-family: 'codeFont';
    src: url('codeFont.otf');
}

@font-face {
    font-family: 'titleFont';
    src: url('titleFont.ttf');
}

@font-face {
    font-family: 'titleSubFont';
    src: url('titleSubFont.ttf');
}



html {
    background: url(background.png) no-repeat center center fixed;
    background-color:powderblue;
    background-size: cover;
    white-space: normal;
    text-rendering: geometricPrecision;
    image-rendering: auto;
    font-family:"Trebuchet ms",arial;font-size:0.9em;
}

hr {
    color:black;
    border: 1px solid black;
    background-color:black;
    max-width:520px;
    text-align:center;
    height:1px;
    text-rendering: geometricPrecision;
}

u {
    text-decoration: underline;
    height:1px;
    max-height: 1px;
    min-height: 1px;
    border-bottom: 1px solid transparent;
    box-shadow: inset 0 0px 0 white, inset 0 -1px 0 transparent;
    font-size:18px;
    color:black;
    display: inline;
}

img {
    image-rendering: auto;
}

p {
    color: black;
    font-family: 'newFont';
    word-wrap: normal;
    display: inline;
    display: inline;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px;
    font-weight: 500;
    text-rendering: geometricPrecision;
    text-align: left;
    vertical-align: text-top;
    display: inline;
}

code { 
    font-family: 'codeFont';
    letter-spacing: 1px;
    line-height: 22px;
    font-weight: 700;
    padding-bottom:2px;
    display: inline-block;
    padding-left:2px;
    padding-right:2px;
    text-rendering: geometricPrecision;
    background: hsl(220, 80%, 90%); 
    white-space: normal;
    text-align: left;
    font-size:17px;
    vertical-align: middle;
    height: 22px;
    display: inline;;
}

pre { 
    font-family: 'newFont';
    letter-spacing: 1px;
    line-height: 22px;
    font-weight: 100;
    padding-bottom:2px;
    display: inline-block;
    padding-left:2px;
    padding-right:2px;
    text-rendering: geometricPrecision;
    background: lightgray; 
    white-space: normal;
    text-align: left;
    font-size:17px;
    vertical-align: middle;
    height: auto;
    display: inline;
}

a {
    text-decoration: underline;
    font-family: 'newFont';
    word-wrap: normal;
    display: inline;
    line-height: 1.1;
    margin: 0 auto;
    display: inline;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 700;
    text-rendering: geometricPrecision;
    text-decoration: underline;
    text-decoration-color: #FF0000;
    display: inline;
}

iframe {
    overflow:hidden;
    overflow-x:hidden;
    overflow-y:hidden;
}

div.contentPaperSheet {
    background-color: white;
    padding: 10px;
    width: 560px;
    min-width: 560px;
    max-width: 560px;
    min-height:auto;
    max-height:auto;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    margin-top:-32px;
    padding-bottom:0px;
    text-rendering: geometricPrecision;
    text-align: left;
    vertical-align: text-top;
    padding:14px;
}

.releasenum {
    font-size: 14px;
    vertical-align: text-bottom; 
    padding-top:10px;
    font-weight:900;
}

.navlink {
    color:black;
    text-decoration-color: black;
    text-decoration:underline;
    text-rendering: geometricPrecision;
    font-family: 'Roboto', sans-serif;
    font-weight:100;
}




